.App {
  text-align: center;
}

.operation-row {
  width: 70%;
}

td {
  text-align: left;
}

table {
  font-size: 10px;
}

.modalContent {
  font-size: 12px;
}

.react-bootstrap-table-pagination-total {
  font-size: 10px;
}

.react-bootstrap-table-pagination-total {
  text-align: right;
}
